<settings>
    <servers>
        <!-- Starburst Maven Snapshot Repository -->
        <server>
            <id>starburstdata.snapshots</id>
            <username>${env.mavenUser}</username>
            <password>${env.mavenCredentials}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <usePreemptive>true</usePreemptive>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>

        <!-- Starburst Maven Release Repository -->
        <server>
            <id>starburstdata.releases</id>
            <username>${env.mavenUser}</username>
            <password>${env.mavenCredentials}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <usePreemptive>true</usePreemptive>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
</settings>
